{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('assets/css/profil.css')}}">
{% endblock %}

{% block body %}

    <div class="container-fluid fixed-left d-flex">

        {# MENU DE GAUCHE #}
		<div class="bg-sable col-5 col-md-3 text-center">

            <div class="txtMenu mb-3">Lydlus</div>

            <div class="col-12 text-center">
                <img src="{{ asset('img/photoDefaut.png')}}" class="photo"/>
            </div>

			<div class="txtMenu pt-3">40 ans</div>

            <hr class="my-4">

			<u class="txtMenu text-underline">Langue parlées :</u>
			<div class="h5 mt-3">Anglais</div>
            <div class="h5">Francais</div>

            <hr class="my-4">
            
            <div>
                <a href="">
				    <button type="submit" class="btn btn-info btnContact" name="btnVoyages">Mes voyages</button>
			    </a>
            </div>	
			
            <div>
                <a href="">
				    <button type="submit" class="btn btn-info btnContact" name="btnVoyages">Mes messages</button>
			    </a>
            </div>

            <div>
                <a href="">
				    <button type="submit" class="btn btn-info btnContact" name="btnVoyages">Mes amis</button>
			    </a>
            </div>
		</div>


        {# SECTION DE DROITE #}
        <div class="col-7 col-md-9 mx-auto">

            <div class="col-12 col-md-8 mx-auto">
                <u class="h2">Lydlus</u>
            </div>
            
            {# Section profil #}
            <div class="col-12 col-md-8 mx-auto">
                <div class="titreRubric h5 mt-4em">Profil :</div>
            </div>

            <div class="col-12 col-md-8 bgSable test mx-auto pt-2">
				<div class="row">
					<div class="col-12 col-lg-6">
						<label>Pseudo:</label>
						<input type="text" class="form-control" name="pseudo" value="pseudo" disabled="disabled">
					</div>

					<div class="col-12 col-lg-6">
						<label>Date de naissance:</label><input type="date" class="form-control" name="birthday" value="birthday" disabled="disabled">
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-6">
						<label>Pays:</label>
                        <input type="text" class="form-control mb-3" name="nation" value="France" disabled="disabled">
					</div>
				</div>
			</div>


            {# Section Securité #}
            <div class="col-12 col-md-8 mx-auto">
                <div class="titreRubric h5 mt-4em">Sécurité :</div>
            </div>

            <div class="col-12 col-md-8 bgSable test mx-auto pt-2">
				<div class="row">
					<div class="col-12 col-lg-6">
						<label>Mot de passe:</label>
						<input type="text" class="form-control" name="password" value="*********" disabled="disabled">
					</div>
				</div>

				<div class="row">
					<div class="col-12 col-lg-6">
						<label>Email:</label>
                        <input type="email" class="form-control mb-3" name="email" value="andhromede@hotmail.fr" disabled="disabled">
					</div>
				</div>
			</div>


            {# Section description #}
            <div class="col-12 col-md-8 mx-auto">
                <div class="titreRubric h5 mt-4em">A propos de vous :</div>
            </div>

            <div class="col-12 col-md-8 bgSable test mx-auto pt-2">
				<div class="row">
					<div class="col-12 mb-3">
                        <label>Description:</label>
                        <textarea class="form-control" rows="8" class="form-control" name="description" disabled="disabled">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos earum nostrum, mollitia maiores magnam tenetur natus tempora sunt, deserunt tempore officia expedita, laboriosam quasi perferendis possimus modi ipsum reprehenderit quo?</textarea>
                    </div>
				</div>
			</div>


             {# Section Divers #}
            <div class="col-12 col-md-8 mx-auto">
                <div class="titreRubric h5 mt-4em">Divers :</div>
            </div>

            <div class="col-12 col-md-8 bgSable test mx-auto">
				<div class="row">
					<div class="col-12 col-lg-6 mb-3 mb-md-2 pt-2">
						<label>Langue parlée:</label>
						<select id="langue" class="select" name="langue" disabled="disabled">
							<option value="1" class="" selected >type langue</option>
						</select>
					</div>
				</div>
			</div>


            {# Section confidentialité #}
            <div class="col-12 col-md-8 mx-auto">
                <div class="titreRubric h5 mt-4em">Confidentialité :</div>
            </div>

            <div class="col-12 col-md-8 bgSable test mx-auto">
				<div class="row">
					<div class="col-12 pt-2">
                        <input type="checkbox" class="checkbox" name="contact" disabled="disabled">
                        <label class="ml-1">Demandes d'amis</label>
                    </div>

                    <div class="col-12">
                        <input type="checkbox" class="checkbox" name="notifmail" disabled="disabled">
                        <label class="ml-1">Notifications par mail</label>
                    </div>

                    <div class="col-12">
                       <input type="checkbox" class="checkbox" name="supressionCompte" disabled="disabled">
                       <label class="ml-1">Supprimer mon compte</label>
                    </div>
				</div>
			</div>

            <div class="text-center">
                <a href="{{path('parametres')}}">
				    <button type="submit" class="btn btn-info btnContact mt-5" name="btnVoyages">Modifier mon compte</button>
			    </a>
            </div>
        </div>
	</div>

{% endblock %}

{% block javascripts %}
    
    {# $(document).ready(function() {
        $("#show_hide_password a").on('click', function(event) {
            event.preventDefault();
            if($('#show_hide_password input').attr("type") == "text"){
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass( "fa-eye-slash" );
                $('#show_hide_password i').removeClass( "fa-eye" );
            }else if($('#show_hide_password input').attr("type") == "password"){
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass( "fa-eye-slash" );
                $('#show_hide_password i').addClass( "fa-eye" );
            }
        });
    }); #}
{% endblock %}
