/********************* MENU LATERAL GAUCHE *********************/ 
/************** photo de profil ************/ 
    .photo{
        max-height: 120px;
    }

        @media (max-width: 600px) {
            .photo{
                max-height: 90px;
            }
        }


/************** textes menu laterale ************/         
    .txtMenu{
        font-weight: 700;
        font-size: 1.3em;
        color: var(--noir);
    }


/********************* CADRE DE DROITE *********************/ 
/************** texts soulignés ************/ 
    u{
        color: var(--noir);
    }


/************** titres des rubriques ************/ 
    .titreRubric{
        font-size: 1.1em;
        text-decoration: underline;
        color: var(--noir);
        font-weight: 600;
    }


/************** largeur de la div photo ************/ 
    .w-90{
        width: 90% !important;
    }

        @media (max-width: 600px) {
            .w-80{
                width: 100% !important;
            }
        }


/************** titre autres voyages ************/        
    .txtAutreVoy{
        font-size: 1.2em;
        color: var(--noir);
        text-decoration: underline;
        font-weight: 600;
    }

    .cadreTurquoise{
        border: 3px solid var(--turquoise);
    }

    .imgSize{
        max-width: 15em;
    }

    @media (max-width: 1200px) {
        .imgSize{
            max-width: 12em !important;
        }
    }

    @media (max-width: 1030px) {
        .imgSize{
            max-width: 10em !important;
        }
    }